@typeparam TEntity

<MudSimpleTable>
    <thead>
        <tr>
            @foreach(var header in GetHeaders())
            {
                <td>@header</td>
            }
        </tr>
    </thead>
</MudSimpleTable>
